.config/nvim/plugin/
.config/nvim/sessions/*
!.config/nvim/sessions/.gitkeep
.config/nvim/spell.utf-8.add.spl

sublime/*
!sublime/*.sublime-keymap
!sublime/*.sublime-mousemap
!sublime/*.sublime-settings
!sublime/*.sublime-color-scheme
!sublime/*.sublime-build

vscode/*
!vscode/keybindings.json
!vscode/settings.json

.DS_Store
