[user]
  name = zzzachzzz
  email = zach1rosen@gmail.com

[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  ignorecase = false
  pager = less -F -X

[alias]
  pushF = push --force-with-lease
  logg = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(magenta)%d%C(reset)'
  b = branch

[commit]
  cleanup = scissors

[pager]
  branch = false

